/* Your CSS Code here. */
body {
    padding: 50px 30px;
    margin: 0;
    font-family: Inter;
    font-weight: 400;
}

#basic-info {
    display: flex;
    align-items: center;
}

#fullname {
    margin-right: 25px;
}

#buttons {
    margin-top: 30px;
}